/********************************************************
JP Stearns
03-09-2016
Blog: Css Source code for project 2
********************************************************/

/****Global Styles*****/
body{
    background-image: url("./images/city.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: "Roboto Slab", serif;
    margin: 0px;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: #17BB34;
    text-decoration: underline;
}
.container {
  margin: 0 auto;
  max-width: 1095px;
  position: relative;
  width: 100%;
}
/*****Nav Bar*****/
#navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 44px;
    background-color: #222;
}
#navbar ul {
    list-style-type: none;
    margin: -10px;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    margin-right: 20px;
    float: right;
    padding-top: 10px;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 11px 16px;
    text-decoration: none;
}

#navbar a:hover{
    background-image: url("./images/transpBlack10.png");
    color: #17BB34;
}

#logo p {
    float:left;
    color: #17BB34;
    font-weight: bolder;
    font-size: 36px;
    margin: 0;
    padding-top: 10px;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

#logo p:hover{
    color: #fff;
}

.pane-body{
    margin-top: 50px;
    padding: 10px 20px;
    color: white;
    width: 100%;
    background-image: url("./images/transpBlack75.png");
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.pane-body:hover{
    box-shadow: 5px 5px 2.5px #888888;
}

h2{
    text-decoration: underline;
    color: #ffffff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}

/******Profile Section*****/
#profile{
    margin-top: 125px;
}
form{
    margin-left: 100px;
}
form label{
    float: left;
    font-size: 19px;
    width: 100px;
    text-align: right;
    margin-right: 20px;
}
#profile form input[type=text]{
    width: 80%;
    height: 28px;
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#profile form select{
    width: 80%;
    height: 34px;
    background-color:#ffffff;
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#profile textarea{
    width: 80%;
}
#submit{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 10px;
    margin-left: 79%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}
#submit:hover{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    cursor: pointer;
}
#clear{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}
#clear:hover{
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    cursor: pointer;
}
/***** Two Cols For Profile*****/
#profile-container2 {
    float:left;
    width:100%;
    position:relative;
    right:30%;
}
#profile-container1 {
    float:left;
    width:100%;
    position:relative;
    right:40%;
}
#profile-col1 {
    float:left;
    width:50%;
    position:relative;
    left:72%;
    overflow:hidden;
}
#profile-col2 {
    float:left;
    width:50%;
    position:relative;
    left:76%;
    overflow:hidden;
}
#image{
    max-width: 100%;
    margin-left: 100px;
    padding: 20px;
}
#image img{
    border: 2px solid white;
}
#description{
    float: left;
    margin: 10px;
    padding-right: 20%;
    padding-top: 10%;
    font-size: 23px;
}
#wrapper{
    display: inline-block;
    background-image: url(./images/transpBlack90.png);
}

/*****Links Section*****/
#links a{
    font-size: 19px;
    text-align: center;
}
span{
    background-image: url(./images/transpBlack90.png);
    font-size: 19px;
}
#links form input[type=text]{
    float:left;
    width: 50%;
    height: 28px;
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-right: 15px;
}
#links form select{
    float:left;
    width: 20%;
    height: 34px;
    background-color: #ffffff;
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-right: 15px;
}
#post-link{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    float: left;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}
#post-link:hover{
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
    cursor: pointer;
}
#posted-links{
    margin-top: 15px;
    width: 100%;
    background-image: url(./images/transpBlack90.png);
    border-color: #fff;
    border-style: dotted;
    border-width: 0.5px;
    display: inline-block;
}
#posted-links h3{
    text-align: center;
    margin: auto;
    line-height: 51px;
    vertical-align: middle;
}
#links-container3 {
    float:left;
    width:100%;
    overflow:hidden;
    position:relative;
}
#links-container2 {
    float:left;
    width:100%;
    position:relative;
    right:30%;
}
#links-container1 {
    float:left;
    width:100%;
    position:relative;
    right:40%;
}
#links-col1 {
    float:left;
    width:26%;
    position:relative;
    left:72%;
    overflow:hidden;
}
#links-col2 {
    float:left;
    width:36%;
    position:relative;
    left:76%;
    overflow:hidden;
}
#links-col3 {
    float:left;
    width:26%;
    position:relative;
    left:80%;
    overflow:hidden;
}

/******Content Section*****/
#content textarea{
    width: 80%;
}

#content p{
    font-size: 19px;
}
#content a{
    font-size: 22px;
}
#update-status{
    margin-right: 7%;
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
    float: right;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}
#update-status:hover{
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
    cursor: pointer
}
.posting {
    width: 83%;
    margin-left: 100px;
    background-image: url(./images/transpBlack90.png);
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.posting article{
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid white;
    padding: 20px;
}
.posting header{
    padding: 20px;
}

/***** Footer *****/
.footer{
    clear: both;
    margin-top: 50px;
    border-top: 1px solid black;
    font-size: 80%;
    text-align: center;
    background: #222;
    height: 60px;
    color: #17BB34;
}

.footer ul li a{
    text-decoration: none;
    padding: .2em 1em;
    color: white;
}

.footer ul li a:hover{
    color: #17BB34;
}

.icons ul li{
    list-style: none;
    display: inline;
}

.icons{
    width: 50%;
    margin: 0 auto;
}
